.grid-container{
  height: 100vh;
  text-align: center;
  

}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 32rem;
  margin: auto;

  margin-top: 6rem;
grid-gap: .1rem;
  

}

.cell{
  padding: 3rem 1rem;
  border: 1px solid black;
  color: white;
  font-weight: bolder;
  background-color: grey;
  font-size: 2rem;
}

.cell:hover{
  background-color: rgb(128, 128, 128,.9);

}

.cell:active{
  transform: scale(0.95);
}

.app-heading{
  text-align: center;
  margin-top: 4rem;
}

.reset-btn{
  background-color: aquamarine;
  padding : 1rem 5rem;
  border: 1px solid khaki;
  font-weight: bolder;

}